@{
    ViewData["Title"] = "About us";
}


<div class="jumbotron" style="color: rgb(15, 64, 2);">
    <p style="text-align: center; font-size: larger;">
        Hello! <br> We are happy because you consider to use our app. This app is made in order to help people to
        keep everything more organized. You can use it to manage your projects and tasks from work and you can
        collaborate with other users or you can use it at home or at school. It can be great if you don't want
        to be stressed about remembering everything.
    </p>
    <p style="text-align: center;">By using it, you can do so many things:</p>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>Store info about projects</li>
                <li>Organize your team tasks</li>
                <li>See the deadlines</li>
                <li>Update the project's info or the tasks</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>Store the links to the projects</li>
                <li>As a Project Manager, you can assign tasks to your team</li>
                <li>As a user, you can take tasks that are not taken</li>
                <li>For every task solved in time, you can win a badge and points</li>
            </ul>
        </div>
    </div>
</div>

<div class="container-video">
    <video style="width: 100%; height: 100%;" autoplay loop>
        <source src="~/videos/video_team.mp4" type="video/mp4" />
        The video is not supported...
    </video>
</div>