
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" id="contact-jumb">
    <h2>Contact us</h2>
    <address>
        Team Task Manager<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">Phone:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:tm_support@task_manager.com">tm_support@task_manager.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:tm_marketing@task_manager.com">tm_marketing@task_manager.com</a>
    </address>

    <div class="logo-image" style="float: right; width: 30%; height: 100%; margin-top: -17%; margin-right: 0%;">
        <img src="../images/logo_transparent.png" alt="logo">

    </div>
</div>

