<div id="log_in_modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content row">

        <div class="col-11">
            <p>Hello! <br> You are now logged in.</p>
            <span style='font-size:40px;'>&#128513;</span>
        </div>
        <span class="close col-1" id="modal-close-button">&times;</span>
    </div>
</div>