<footer class="footer text-muted col-md-8" style="text-align: center; color: rgb(15, 64, 2);">
    <hr style="background-color: rgb(15, 64, 2); opacity: 0.6" />
    &copy; 2021 - Task Manager - <a asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a>
</footer>