<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpg" href="~/images/logo_transparent.png" />
    <title>@ViewData["Title"] - Task Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/after_login.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styling", required: false)
    <script src="~/js/ajax.js" type="application/javascript"></script>
</head>
<body onload="get_image()" style="overflow-x: hidden;">
    <header>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer class="footer text-muted col-md-8" style="text-align: center; color: rgb(15, 64, 2);">
            <hr style="background-color: rgb(15, 64, 2); opacity: 0.6" />
            &copy; 2020 - Task Manager
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<style>

    @@media only screen and (max-width: 2048px) {
        #user_menu {
            margin-left: 60%;
        }
    }

    @@media only screen and (max-width: 1024px) {
        #user_menu {
            margin-left: 0%;
        }

        ul {
            background-color: white;
            display: block;
            transform: translate();
        }

        nav {
            position: relative;
            z-index: 1;
        }

        .dropdown-menu {
            margin-left: 3%;
            width: 95%;
            text-align: center;
        }

        #hamburger_content {
            width: 100%;
            opacity: 0.95;
            text-align: center;
        }
        #user_menu{
            margin-left: 45%;
        }
    }
</style>