<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpg" href="~/images/logo_transparent.png" />
    <title>@ViewData["Title"] - Task Manager</title>

    <partial name="_CommonCSSPartial" />

    @RenderSection("Styling", required: false)
</head>
<body>
    <header>
        <partial name="_NavbarPartial" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <partial name="_FooterPartial" />
    </div>

    <partial name="_CommonJSPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>