@model IEnumerable<TaskManager.DataAccess.DataModels.Badges>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_After_Login.cshtml";
}

<link rel="stylesheet" href="~/css/dashboard.css" />
<div class="row" style="margin-top: 10%; overflow-x:auto;">
    <table class="table col-md-12">
        <caption>TaskManager available badges</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="8" style="text-align: center; background-color: rgb(15, 64, 2); opacity: 0.6; color: white;"> The badges</th>
            </tr>

            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    Necessary score
                </th>
            </tr>
        </thead>
        <tbody style="background-color: ghostwhite;">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NecessaryScore)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>