@model TaskManager.ViewModels.TasksViewModel

@{
    ViewData["Title"] = "Remove Tasks";
    Layout = "~/Views/Shared/_Layout_After_Login.cshtml";
}

<link rel="stylesheet" href="~/css/form_styling.css" type="text/css" />
<link rel="stylesheet" href="~/css/delete_project_style.css" type="text/css" />
<h2 style="text-align: center; margin-top: 50px;"> Remove tasks</h2>
<hr />
<br/>
<div class="row justify-content-center" id="form-row">
    <div class="col-8">
        @using (Html.BeginForm("DeleteProjectTasks", "ProjectTasks", FormMethod.Post))
        {
            <div class="form-group">
                <label id="label-for-projects">Chose the tasks you want to delete:</label><br />
            </div>
            for (int i = 0; i < Model.ProjectTasks.Count(); i++)
            {
                <div class="form-group">
                    @Html.CheckBoxFor(c => c.ProjectTasks[i].Selected)
                    @Model.ProjectTasks[i].Name
                    @Html.HiddenFor(c => c.ProjectTasks[i].ProjectTasksId)
                    @Html.HiddenFor(c => c.ProjectTasks[i].Name)
                    <br />

                </div>

            }
            <div class="form-group">
                <input type="submit" value="Delete task(s)" class="btn btn-primary" id="submit-button" />
            </div>
        }
    </div>
</div>